.features {
  padding: 80px 0;
  background: white;
}

.section-title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 32px;
}

.features-grid {
  display: flex;
  gap: 20px;
}

/* CARD */
.feature-card {
  flex: 1;
  background: #f4f8ff;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  transition: 0.3s;
}

.feature-card:hover {
  transform: translateY(-5px);
}

/* TABLET */
@media (max-width: 992px) {

  .features-grid {
    flex-wrap: wrap;
  }

  .feature-card {
    flex: 45%;
  }

}

/* MOBILE */
@media (max-width: 768px) {

  .features-grid {
    flex-direction: column;
  }

}
