* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f8ff;
  font-family: 'Segoe UI', sans-serif;
  overflow-x: hidden;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.btn-primary {
  background: #007bff;
  color: white;
  padding: 12px 26px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.btn-primary:hover {
  background: #0056d2;
}
